.form-container {
    width: 100%;   
    background-color: #0A1327;
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;   
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 15px;
    font-weight: 700;
}

.information{
    width: 25%;   
    background-color: #0A1327;
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;   
}


.modif{
    width: 25%;   
   
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 130px; 
  
}

.buttonvalid{
    border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
    background: #0A1327;
    color: #ffffff;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;

  }
  
