<div class="form-container">
    <p class="title">Compte</p>
</div>
<div class="information">
    <p>Civilité: {{ civilite }}</p>
        <p>Prénom: {{ prenom }}</p>
        <p>Nom: {{ nom }}</p>
        <p>Adresse: {{ adresse }}</p>
        <p>Ville: {{ ville }}</p>
        <p>Code Postal: {{ codePostal }}</p>
        <p>Téléphone: {{ telephone }}</p>
        <p>Email: {{ email }}</p>
</div>
    <div class="modif">
        <button class="text_modif" routerLink="/traitement-profil">MODIFIER MES INFORMATIONS</button>
    </div>