.bordermenu {
  border-radius: 19px 19px 19px 19px;
  -webkit-border-radius: 19px 19px 19px 19px;
  -moz-border-radius: 19px 19px 19px 19px;
  border: 1px solid #000000;
}

.text_menu_container {
  font-family: "GenEi", sans-serif;
}

p {
  font-family: "Arial", sans-serif;
}

.titrecardmenu {
  color: #0b2568;
}
.ajout:hover {
  cursor: pointer;
}
.ajout {
  border-radius: 19px 19px 19px 19px;
  -webkit-border-radius: 19px 19px 19px 19px;
  -moz-border-radius: 19px 19px 19px 19px;
}
