

<video autoplay muted loop id="background-video">
    <source src="../../../assets/ressources/video/videoillustration_treesushi.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <h1 class="titreac1" data-aos="fade-up"
  data-aos-duration="3000">Bienvenue chez Treesushi.</h1>
  <h3 class="titreac2">Restaurant et traiteur asiatique depuis 2015</h3>
  <div class="toppageacc" data-aos="fade-up"
  data-aos-duration="3000">
    <img class="logo_accueil" src="../../../assets/ressources/img/logov1_treesushi.png" alt="logo_treesushi" data-aos="fade-up"
        data-aos-duration="3000">
    <div class="content_accueil_1">
      
        <button class="button" data-aos="fade-up"
        data-aos-duration="3000">
            Demander le menu !
        </button>

        
    </div>
  </div>

  