.form-container {
    width: 40%;
    height: fit-content;
    border-radius: 0.75rem;
    background-color: #0A1327;
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px; 
    margin-top: 150px;  
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 15px;
    font-weight: 700;
    color: #fff;
  }