  <h3 class="text_menu_container pt-20 pb-4 text-center text-5xl ">Commander</h3>
  <div class="bordermenu  text-center flex flex-wrap p-8 rounded-lg border border-black w-2/4">
    <div class="grid grid-cols-2 gap-8">
      <div class="relative flex w-full sm:w-80 flex-col rounded-xl bg-white text-gray-700 shadow-md transform scale-80" *ngFor="let item of data">
      <div class="relative mx-4 -mt-6 overflow-hidden rounded-xl  text-white shadow-lg">
          <img src="{{ item.img }}" alt="{{ item.nom }}">
        </div>
        <div class="p-6 ">
          <h5 class="titrecardmenu mb-2 text-xl font-semibold tracking-normal text-blue-gray-900 text-center">
            {{ item.nom }}
          </h5>
          <p class="">
            Pieces: {{ item.pieces }}
          </p>
          <p class="">
            Prix: {{ item.prix | number:'1.2-2'}} € </p>
        <div class="p-6 p-4 pb-4">
          <button type="button" (click)="addToCart(item)" class="select-none rounded-lg bg-dark py-3 px-6 text-center text-xs font-bold uppercase text-white shadow-md hover:shadow-lg focus:opacity-85 active:opacity-85 disabled:opacity-50">
              Ajouter
            </button>
          <div class="relative ml-10">
            <br>
          </div>
          <p class="text-xs font-light underline">
            En savoir plus sur le produit.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="containercommande w-1/3 fixed top-40 right-20 m-4">
      <h3 class="titrecontainercommande">Votre panier</h3>
      <div class="contenucommande">
          <div *ngFor="let item of cart" class="flex items-center">
              <div class="boxcommande flex-1"> 
                  <p class="txtcommande">Nom: {{ item.nom }}</p> 
              </div>
              <div class="boxcommande flex-1"> 
              <p class="txtcommande">x {{ item.quantity }}</p>
              </div>
              <button class="buttonaddmoin rounded-full w-10 h-10 flex items-center justify-center bg-blue-500 text-white" (click)="addToCart(item)">+</button>
  <button class="buttonaddmoin rounded-full w-10 h-10 flex items-center justify-center bg-red-500 text-white" (click)="removeFromCart(item)">-</button>
              <p class="flex-1 text-right">Prix: {{ item.totalPrice | number:'1.2-2'}} €</p>
          </div>
      </div>
      <div class="buttonendcommande flex flex-col sm:flex-row justify-center items-center">
          <button class="buttonvabandon w-full sm:w-auto  rounded mt-2 sm:mt-0 sm:mr-2" (click)="clearCart()">Abandon</button>
          <button class="buttonvalid w-full sm:w-auto  rounded mt-2 sm:mt-0" (click)="validerCommande()">VALIDER</button>
      </div>
      <p class="endcontainercommande">Total: {{ getTotalPrice() | number:'1.2-2' }} €</p>
  </div>  