<div class="flex items-start m-4">
    <div class="flex flex-col mt-4">
     
        <img class="w-full sm:w-[247px] h-auto static max-w-full z-10" src="../../../assets/ressources/img/commande/sushicolored1.png" alt="sushi1">
        <img class="w-full sm:w-[247px] h-auto static max-w-full z-10" src="../../../assets/ressources/img/commande/sushicolored2.webp" alt="sushi2">
        <img class="w-full sm:w-[247px] h-auto static max-w-full z-10" src="../../../assets/ressources/img/commande/sushicolored3.webp" alt="sushi3">
    </div>
  
    <div class="w-full sm:mx-auto  " style="border: 1px solid black; border-radius: 0px 30px 0px 0px; margin-bottom: 100px;">
        <div class="form-container">
            <p class="title">Votre commande : </p>
        </div>
            <div class="information">
                <ul>
                    <li *ngFor="let item of cart">
                        <img class="w-full sm:w-[247px] h-auto static max-w-full z-10" src="{{ item.img }}" alt="{{ item.nom }}">
                        <p>{{ item.nom }} - {{ item.quantity }} Prix : {{ item.totalPrice | number:'1.2-2' }} €</p>
                    </li>
                </ul>
            </div>
            <p id="prix" class="endcontainercommande">Total de la commande :{{ getTotalPrice() }} €</p>
            <a routerLink="/menu"><button class="buttonvalid w-full  rounded mt-2 sm:mt-0" >CONFIRMER LA COMMANDE</button></a>
            <button class="buttonvabandon w-full rounded mt-2 sm:mt-0 sm:mr-2" (click)="confirmAbandon()">ABANDONNER LA COMMANDE</button>
        </div>
    
  
    <div class="flex items-start m-4">
      <div class="flex flex-col mt-4 ml-auto">
        
        <img class="w-full sm:w-[247px] h-auto static max-w-full z-10" src="../../../assets/ressources/img/commande/sushicolored1.png" alt="sushi1">
        <img class="w-full sm:w-[247px] h-auto static max-w-full z-10" src="../../../assets/ressources/img/commande/sushicolored2.webp" alt="sushi2">
        <img class="w-full sm:w-[247px] h-auto static max-w-full z-10" src="../../../assets/ressources/img/commande/sushicolored3.webp" alt="sushi3">
      </div>
    </div>
</div>
