<div class="w-full sm:mx-auto  " style="width: 40%; border-radius: 0px 30px 0px 0px; margin-bottom: 100px;">
    <div class="form-container">
        <p class="title">Compte</p>
    </div>
        <form class="form" #ModifForm="ngForm" (ngSubmit)="modification(ModifForm)">
            <div class="input-group w-full">
                <label for="civilité">Civilité</label>
                <select name="civilité" id="civilité" placeholder="" ngModel>
                    <option value="Monsieur">Monsieur</option>
                    <option value="Madame">Madame</option>
                </select>
            </div>

            <div class="input-group_id w-full sm:w-1/2">
                <div class="half-width">
                    <label for="prénom">Prénom :</label>
                    <input type="text" name="prénom" id="prénom" class="identifiant" placeholder="" ngModel>
                </div>

                <div class="half-width sm:w-1/2 ">
                    <label for="nom">Nom :</label>
                    <input type="text" name="nom" id="nom" class="identifiant" placeholder="" ngModel>
                </div>
            </div>

            <div class="input-group w-full">
                <label for="adresse">Adresse :</label>
                <input type="text" name="adresse" id="adresse" placeholder="" ngModel>
            </div>

            <div class="input-group w-full">
                <label for="ville">Ville :</label>
                <input type="text" name="ville" id="ville" placeholder="" ngModel>
            </div>

            <div class="input-group w-full">
                <label for="code_postal">Code postal :</label>
                <input type="text" name="code_postal" id="code_postal" ngModel maxlength="5" pattern="[0-9]*">
            </div>

            <div class="input-group w-full">
                <label for="téléphone">Téléphone :</label>
                <input type="text" name="téléphone" id="téléphone" ngModel maxlength="10" pattern="[0-9]*">
            </div>

            <div class="input-group w-full">
                <label for="email">Email :</label>
                <input type="text" name="email" id="email" placeholder="" ngModel>
            </div>

            <div class="input-group w-full">
                <label for="password">Mot de passe :</label>
                <div class="password-container">   
                <input type="password" name="password" id="password" class="input-password" placeholder="">
                    <img src="../../../assets/ressources/icon/oeil_fermé noir.png" alt="oeil" id="oeil" (click)="changer()" />
                </div>
            </div> 
           
        </form>

     <a routerLink="/menu"><button class="buttonvalid w-full  rounded mt-2 sm:mt-0" >VALIDER</button></a>
            <button class="buttonvabandon w-full rounded mt-2 sm:mt-0 sm:mr-2" (click)="confirmAbandon()">ABANDONNER</button>
</div>