

nav{
    z-index: 20;
  position: sticky;
}


ul li ul.dropdown{
    position: absolute;
    display: none;

}

ul li:hover ul.dropdown{
    display: block;
}


.countitem {
    background-color: #ff00bb;
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}