<nav class="top-0 bg-black px-8 py-2 flex justify-between items-center text-white">
    <a class="text-3xl font-bold leading-none" routerLink="/">
        <img class="w-28" src="../../../assets/ressources/img/logov2_treesushi.png" alt="">
    </a>
    <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-blue-600 p-3" (click)="toggleMenu()">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>
    </div>
    <ul class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6 text-white" [class.hidden]="!menuVisible">
        <li><a class="text-base hover:underline" routerLink="/">Informations</a></li>
        <li><a class="text-base ml-24 hover:underline" routerLink="/menu">Menu</a></li>
        <li><a class="text-base ml-24 hover:underline" routerLink="/a-propos">A propos</a></li>
    </ul>

    <div class="hidden lg:inline-block lg:flex">
         <span class="countitem text-white">{{ cartService.getCount() }}</span><a (click)="goToCart()">
            <img class=" cursor-pointer w-6" src="../../../assets/ressources/icon/icons8-shopping-cart-96.png" alt="panier">
        </a>
        <ul>
            <li *ngIf="isLoggedIn; else notLoggedIn">
                <img class=" cursor-pointer ml-10 w-6" src="../../../assets/ressources/icon/icons8-user-96.png" alt="account">
                <ul class="dropdown w-36 absolute top-10 right-1">
                    <li class="bg-black bg-opacity-25 text-white py-2 text-center hover:bg-gray-200"><a routerLink="/voir_commande">Voir commande</a></li>
                    <li class="bg-black bg-opacity-25 text-white py-2 text-center hover:bg-gray-200"><a routerLink="/profil">Compte</a></li>
                    <li class="bg-black bg-opacity-25 text-white py-2 text-center hover:bg-gray-200"><a (click)="logout()">Se déconnecter</a></li>
                </ul>
            </li>
           
            <ng-template #notLoggedIn>

                <a routerLink="/connexion"><img class=" cursor-pointer ml-10 w-6" src="../../../assets/ressources/icon/icons8-user-96.png" alt="account"></a>
            </ng-template>
        </ul>
    </div>
</nav>
