<div class=" py-20">

    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8">
        <div class="relative  ml-32 rounded-xl  shadow-lg">
            <div class="flex justify-center  " >
                <img class="  -mt-10	shadow-md rounded-xl " src="../../../assets/ressources/img/menu/fresh-mix.jpg" alt="">
            </div>
            <div class="m-8" >
                <h1  class="titrecardmenu mb-2 text-xl font-semibold tracking-normal text-blue-gray-900 " >ITEM NOM </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus distinctio quod aliquam iusto error dicta tenetur dignissimos libero. </p>
                <p>Prix: 24.50 €</p>
            </div>

        </div>
        <div class="relative  mr-32  rounded-xl  shadow-lg">
            <div class="m-8" >
                <h1  class="titrecardmenu mb-2 text-xl font-semibold tracking-normal text-blue-gray-900 text-center " >ALIMENTS </h1>
                <hr>
                <div class="py-4" >
                    <p>Liste aliments</p>
                    <p>Liste aliments</p>
                    <p>Liste aliments</p>
                    <p>Liste aliments</p>
                    <p>Liste aliments</p>

                </div>
                <div class="flex justify-center ">
                    <button type="button" class="select-none rounded-lg bg-dark py-3 px-6 text-center text-xs font-bold uppercase text-white shadow-md hover:shadow-lg focus:opacity-85 active:opacity-85 disabled:opacity-50">
                        <a routerLink="/menu-choix">Commander</a>
                    </button>

                </div>


            </div>
            

            
        </div>
    </div> 

    
</div>
