<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12" style="background-image: url('../../../assets/ressources/img/sushi_noir_blanc.jpg');
background-repeat: no-repeat;
background-color: #ffff;
background-position: center; 
">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
          <div class="max-w-md mx-auto">
            <div class="flex justify-center"> 
              <img src="../../../assets/ressources/img/logov1_treesushi.png" class="h-16 sm:h-24" />
            </div>
            <div class="divide-y divide-gray-200">
              <h1 class="text-2xl font-bold text-gray-900 mt-4 mb-2">Erreur 404 *_*</h1>
              <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                <p>
                  La page que vous cherchez n'existe pas.
                </p>
              </div>
              <div class="pt-6 text-base leading-6 font-bold sm:text-lg sm:leading-7">
                <p>
                  <a href="/" class="text-blue-600 hover:text-blue-900"> ← Retour à la page d'accueil</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>