<div class="contairesurpaemp flex flex-col items-center justify-center h-screen space-y-4">
    <div class="flex justify-center">
        <a class="w-1/2" routerLink="/"><img  src="../../../assets/ressources/img/logov2_treesushi.png" alt="logo_treesushi"></a>
    </div>
    <div class="flex flex-row justify-center space-x-4">
        <button class="buttonchoix rounded text-white px-12 py-6 font-bold">
            <a routerLink="/commandmenu">SUR PLACE</a>
        </button>
        <button class="buttonchoix rounded text-white px-12 py-6 font-bold">
            <a routerLink="/commandmenu">LIVRAISON</a>
        </button>
    </div>