<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">À propos de nous</h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Treesushi vous invite à gouter ses boxs de sushi sur place ou a emporter.</p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
        </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w2/3 md:mb-0 mb-6 flex">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M22 12h-4m-2 0a6 6 0 11-12 0 6 6 0 0112 0z"></path>
            </svg>
          </div>
          <div class="flex-grow pl-6">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Notre mission</h2>
            <p class="leading-relaxed text-base">Fournir des services des box de qualités à nos clients.</p>
          </div>
        </div>
       
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w2/3 md:mb-0 mb-6 flex">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M22 12h-4m-2 0a6 6 0 11-12 0 6 6 0 0112 0z"></path>
            </svg>
          </div>
          <div class="flex-grow pl-6">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Notre restaurant</h2>
            <p class="leading-relaxed text-base">Notre restaurant comporte deux salles avec une capacité de 60 personnes par salle, un buffet à volanté et une salle de jeux pour les enfants.</p>
          </div>
        </div>
       <div class="justify-center relative flex w-full">
        <img class="img" src="../../../assets/ressources/img/accueil_img/interieur1.jpg" alt="intérieur_restaurant">
        <img  class="img" src="../../../assets/ressources/img/apropos/exterieur.jpg" alt="exterieur_restaurant">
    </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w2/3 md:mb-0 mb-6 flex">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M22 12h-4m-2 0a6 6 0 11-12 0 6 6 0 0112 0z"></path>
            </svg>
          </div>
          <div class="flex-grow pl-6">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Livraisons</h2>
            <p class="leading-relaxed text-base">Nous vous proposons la livraisons à domicile. Pour cela vous pouvez commander directement depuis notre site web ou par téléphone au 06 06 06 06 06. <br> Livraison gratuite à partir de 40euros de commande.</p>
          </div>
        </div>
       
      </div>
    </div>
  </section>