
<div *ngIf="!isMenuPage() && router.url !== '/connexion'">

<footer class=" text-white">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class=" md:justify-between">
          
        

          <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex justify-center items-center">
                <div class="mb-6 md:mb-0">
                    <a routerLink="/" class="">
                        <img src="../../../assets/ressources/icon/icon_treesushi.png" class="h-20 me-3" alt="TreeSushi_logo" />
                    </a>
                </div>
              
              </div>
            <div>
                <div class="flex items-center mb-6 md:mb-0">
                    <a routerLink="/" class="">
                        <img src="../../../assets/ressources/icon/locateicon.png" class="h-10 me-3" alt="locate_icon" />
                    </a>
                    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">17 rue Jablinot <br> 77100 Meaux</span>
                </div>
            </div>
            <div>
                <div class="flex items-center mb-6 md:mb-0">
                    <a routerLink="/" class="">
                        <img src="../../../assets/ressources/icon/clockicon.png" class="h-10 me-3" alt="clock_icon" />
                    </a>
                    <span class="text-sm text-gray-500 sm:text-justify dark:text-gray-400">Lundi - Vendredi : 11:00–13:00, 18:00–22:00 <br>​Samedi : 11:00–13:00, 18:00–23:00 <br>Dimanche : Fermé</span>
                </div>
            </div>
            <div>
                <div class="flex items-center mb-6 md:mb-0">
                    <a routerLink="/" class="">
                        <img src="../../../assets/ressources/icon/phoneicon.png" class="h-8 me-3 mb-2" alt="phoneicon" />
                    </a>
                    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">06 06 06 06 06</span>
                </div>
                <div class="flex items-center mb-6 md:mb-0">
                    <a routerLink="/" class="">
                        <img src="../../../assets/ressources/icon/mailicon.png" class="h-8 me-3" alt="phoneicon" />
                    </a>
                    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
                        <a href="mailto:threesushi&#64;restau.fr">threesushi&#64;restau.fr</a>
                    </span>
                </div>
            </div>
        </div>
      </div>
      <hr class="my-4 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-justify dark:text-gray-400">Site web réalisé par Rémi Faupin, Erwan Marega,<br> Sacha Merletti et Darryl Sangare.</span>
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 TreeSushi.</span>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Mention légales</span>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Politique de confidentialité RGPD</span>
          
      </div>
    </div>
</footer>
</div>